$green: #54e6af;
$blue950: #121725;
$blue900: #2c344b;
$blue600: #5a668A;
$blue300: #c2cbe5;
$white: #FFFFFF;
$red: #fb3e3e;

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin chivoLightUpp{
    font-family: "Chivo", sans-serif;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: lighter;
    text-transform: uppercase;
}
@mixin chivoLight{
    font-family: "Chivo", sans-serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: lighter;
}
@mixin chivoBold{
    font-family: "Chivo", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

}
main{
    position: relative;
    .tablet-pattern, .tablet-pattern-decoration{
        display: none;
    }
    .mobile-pattern{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: -2;
    }
    .shadow{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: $blue950;
        opacity: .6;
        z-index: -1;
    }
    .content-box{
        padding: 1em 2em;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .logo{
            margin-top: 6em;
        }
        .text-content{
            margin-top: 1em;
            margin-bottom: 4em;
            .text-title{
                @include chivoLightUpp;
                color:$green;
                font-size: 28px;
                text-align: center;
                .title-white{
                    color:$white;
                }
            }
            .text-paragraph{
                margin-top: 1em;
                @include chivoLight;
                font-size: 15px;
                text-align: center;
                color:$white
            }
        }
        .sm-box{
            display: flex;
            align-items: center;
            margin-bottom: 3em;
            .sm-icon{
                margin-right: 1em;
            }
            .sm-icon-spotify{
                width: 60px;
            }
            .sm-icon-apple{
                width: 50px;
            }
            .sm-icon-google{
                width: 80px;
            }
            .sm-icon-pocket{
                width: 80px;
            }
            
        }
        form{
            width: 100%;
            .input-box{
                display: flex;
                flex-direction: column;
                .input-mail{
                    background-color: $blue900;
                    padding: 1em 2em;
                    border: none;
                    border-radius: 25px;
                    margin-bottom: .5em;
                }
                
                .input-mail::placeholder{
                    @include chivoBold;
                    color:$blue300;
                }
                .input-mail[type=text]{
                    @include chivoBold;
                    color:$blue300;
                }
                .input-btn{
                    background-color: $green;
                    color:$blue950;
                    @include chivoBold;
                    padding: .8em 2em;
                    border: none;
                    border-radius: 25px;

                }
                .error-state{
                    display: none;
                    @include chivoBold;
                    color: $red;
                    text-align: center;
                }
                .error-show{
                    display: block;
                }
                .error-border{
                    border: 2px solid $red;
                }
            }
        }
    }
}

//Media

@media (min-width:768px){
    main{
        overflow: hidden;
        position: relative;
        .tablet-pattern, .tablet-pattern-decoration{
            display: block;
        }
        .tablet-pattern{
            position: absolute;
            top: 0;
            width: 150%;
            
            // z-index: -1;
        }
        .mobile-pattern{
            display: none;
        }
        .shadow{
            display: none;
        }

        .content-box{
            background-color: $blue950;
            padding: 1em 2em;
            height: 100vh;
            align-items: flex-start;
            justify-content: flex-start;
            .logo{
                margin-top: 6em;
            }
            .text-content{
                margin-top: 1em;
                margin-bottom: 4em;
                .text-title{
                    @include chivoLightUpp;
                    color:$green;
                    font-size: 28px;
                    text-align: center;
                    .title-white{
                        color:$white;
                    }
                }
                .text-paragraph{
                    margin-top: 1em;
                    @include chivoLight;
                    font-size: 15px;
                    text-align: center;
                    color:$white
                }
            }
            .sm-box{
                display: flex;
                align-items: center;
                margin-bottom: 3em;
                .sm-icon{
                    margin-right: 1em;
                }
                .sm-icon-spotify{
                    width: 60px;
                }
                .sm-icon-apple{
                    width: 50px;
                }
                .sm-icon-google{
                    width: 80px;
                }
                .sm-icon-pocket{
                    width: 80px;
                }
                
            }
            form{
                width: 100%;
                .input-box{
                    display: flex;
                    flex-direction: column;
                    .input-mail{
                        background-color: $blue900;
                        padding: 1em 2em;
                        border: none;
                        border-radius: 25px;
                        margin-bottom: .5em;
                    }
                    
                    .input-mail::placeholder{
                        @include chivoBold;
                        color:$blue300;
                    }
                    .input-mail[type=text]{
                        @include chivoBold;
                        color:$blue300;
                    }
                    .input-btn{
                        background-color: $green;
                        color:$blue950;
                        @include chivoBold;
                        padding: .8em 2em;
                        border: none;
                        border-radius: 25px;
    
                    }
                    .error-state{
                        display: none;
                        @include chivoBold;
                        color: $red;
                        text-align: center;
                    }
                    .error-show{
                        display: block;
                    }
                    .error-border{
                        border: 2px solid $red;
                    }
                }
            }
        }
    }
}